<div class="login-page" *ngIf="!flagForm">
    <div class="form">
        <form class="login-form">
            <p style="text-align: center; font-size: 20pt; font-weight: bold;">GESTIÓN DEPARTAMENTOS BRANCH</p>
            <div style="display: inline-flex; width: 100%;">
                <label>Nombre: </label>
                <input type="text" placeholder="Nombre departamento" name="entName" [(ngModel)]="ent.depName" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Descripción: </label>
                <input type="text" placeholder="Dirección departamento" name="entDescription"
                    [(ngModel)]="ent.depDescription" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Teléfono: </label>
                <input type="text" placeholder="Teléfono departamento" name="entPhone" [(ngModel)]="ent.depPhone" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Estado: </label>
                <input type="radio" class="radio" value="True" name="True" [(ngModel)]="ent.depStatus"> <span
                    style="padding: 5px;">Activo</span>&nbsp;
                <input type="radio" class="radio" value="False" name="False" [(ngModel)]="ent.depStatus"> <span
                    style="padding: 5px;">Inactivo</span>
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label for="sel1" id="labelSelect" class="form-label">Selecciona la Empresa:</label>
                <select class="form-select" id="sel1" name="ent.entId" [(ngModel)]="ent.entId">
                    <option *ngFor="let obj of this.enterpriseList" value="{{obj.entId}}"> {{obj.entId}} -
                        {{obj.entName}}</option>
                </select>
            </div>
            <button class="btn btn-success" (click)="save()">Guardar</button>
            <button class="btn btn-info" id="menu2" (click)="mainMenu()">Menú Pincipal</button>
        </form>
    </div>
</div>
<!-- MODIFY FORM -->
<div class="login-page" *ngIf="flagForm">
    <div class="form">
        <form class="login-form">
            <p style="text-align: center; font-size: 20pt; font-weight: bold;">GESTIÓN DEPARTAMENTOS</p>
            <div style="display: inline-flex; width: 100%;">
                <label>Nombre: </label>
                <input type="text" placeholder="Nombre departamento" name="entName" [(ngModel)]="entAct.depName" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Descripción: </label>
                <input type="text" placeholder="Dirección departamento" name="entDescription"
                    [(ngModel)]="entAct.depDescription" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Teléfono: </label>
                <input type="text" placeholder="Teléfono departamento" name="entPhone" [(ngModel)]="entAct.depPhone" />
            </div>
            <div style="display: inline-flex; width: 100%;">
                <label>Estado: </label>
                <input type="radio" class="radio" value="True" name="True" [(ngModel)]="entAct.depStatus"> <span
                    style="padding: 5px;">Activo</span>&nbsp;
                <input type="radio" class="radio" value="False" name="False" [(ngModel)]="entAct.depStatus"> <span
                    style="padding: 5px;">Inactivo</span>
            </div>

            <div style="display: inline-flex; width: 100%;">
                <label for="sel1" id="labelSelect" class="form-label">Selecciona la Empresa:</label>
                <select class="form-select" id="sel1" name="ent.entId" [(ngModel)]="entAct.entId">
                    <option *ngFor="let obj of this.enterpriseList" value="{{obj.entId}}"> {{obj.entId}} -
                        {{obj.entName}}</option>
                </select>
            </div>
            <button class="btn btn-success" (click)="saveModify()">Guardar</button>
            <button class="btn btn-info" id="menu2" (click)="mainMenu()">Menú Pincipal</button>
        </form>
    </div>

</div>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">Código Empresa</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ent of this.departmentList">
                <td>{{ent.depId}}</td>
                <td>{{ent.depName}}</td>
                <td>{{ent.depDescription}}</td>
                <td>{{ent.depPhone}}</td>
                <td>{{ent.depStatus}}</td>
                <td>{{ent.depCreatedDate | date:'dd/MM/yyyy'}}</td>
                <td>{{ent.entId}}</td>
                <td>
                    <button class="btn btn-warning" (click)="modify(ent.depId)">Modificar</button> &nbsp;
                    <button class="btn btn-danger" (click)="delete(ent.depId)">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>